@import "~@fluentui/react/dist/sass/References.scss";

//Для адаптації модерн веб-частини під час тестування (full width)
:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
}

.vivaOrgstructureWrapper {
  .vivaOrgstructureEmployees {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .vivaOrgstructureUser {
    text-align: -webkit-center;
    .container {
      border: solid 1px;
      box-shadow:
        0px 0px 2px #5b5fc7,
        0px 1px 2px #00000024;
    }
  }

  .vivaOrgstructureManager {
    text-align: -webkit-center;
  }

  .container {
    -webkit-user-select: none; /* Safari */
    user-select: none;
    width: 340px;
    min-height: 72px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow:
      0px 0px 2px #0000001f,
      0px 1px 2px #00000024;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    .userPhoto {
      max-width: 65px;
      max-height: 65px;
      background-color: rgb(249, 206, 206);
      display: block;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 65px;
        height: 65px;
      }
      margin: 5px;
    }
    .userInfo {
      text-align: center;
      vertical-align: middle;
      min-height: 72px;
    }
  }
  .container:hover {
    background-color: #f3f2f1;
  }
  .ms_PersonaCard {
    font-family:
      "Segoe UI WestEuropean",
      "Segoe UI",
      -apple-system,
      BlinkMacSystemFont,
      "Roboto",
      "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    animation-name: fadeIn, slideUpIn10;
    -webkit-animation-duration: 0.167s;
    -moz-animation-duration: 0.167s;
    -ms-animation-duration: 0.167s;
    -o-animation-duration: 0.167s;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
    animation-fill-mode: both;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    outline: 1px solid transparent;
  }

  .ms_PersonaCard_persona {
    background-color: #f4f4f4;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
  }

  .ms_Persona.ms_Persona__lg {
    height: 72px;
  }

  .ms_Persona_imageArea {
    position: absolute;
    overflow: hidden;
    text-align: center;
    max-width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 0;
    width: 100%;
    top: 0;
    left: 0;
  }

  .ms_Persona_initials {
    color: #ffffff;
    font-size: 17px;
    font-weight: 100;
    line-height: 48px;
    .ms_Persona_initials__blue {
      background-color: #0078d7;
    }
  }

  .ms_Persona_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    z-index: 10;
    width: 100%;
  }

  .ms_Persona_image[src=""] {
    display: none;
  }

  .ms_Persona_presence {
    background-color: #7fba00;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: auto;
    left: 34px;
    bottom: -1px;
    border: 2px solid #ffffff;
    text-align: center;
  }

  .ms_Persona_presenceIcon {
    color: #ffffff;
    font-size: 8px;
    line-height: 12px;
    vertical-align: top;
  }

  .ms_Persona_details {
    padding: 0 12px;
    vertical-align: middle;
    overflow: hidden;
    text-align: left;
    padding-left: 60px;
    display: table-cell;
    width: 100%;
  }

  .ms_Persona_primaryText,
  .ms_Persona_secondaryText,
  .ms_Persona_tertiaryText,
  .ms_Persona_optionalText {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ms_Persona_primaryText {
    color: #333333;
    font-weight: 400;
    font-size: 17px;
    margin-top: -3px;
    line-height: 1.4;
  }

  .ms_Persona_secondaryText,
  .ms_Persona_tertiaryText,
  .ms_Persona_optionalText {
    color: #666666;
    font-weight: 400;
    font-size: 12px;
    white-space: nowrap;
    line-height: 1.3;
  }

  .ms_Persona_secondaryText {
    padding-top: 3px;
  }

  .ms_Persona_tertiaryText,
  .ms_Persona_optionalText {
    padding-top: 5px;
    display: none;
  }

  .ms_Icon {
    -moz-osx-font-smoothing: grayscale;
    font-family: FabricMDL2Icons;
    font-style: normal;
    font-weight: 400;
    speak: none;
  }
  .ms_Icon,
  .ms_Icon__circle {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
  }

  .ms_Icon__SkypeCheck:before {
    content: "\EF80";
  }
  .ms_Icon__SkypeClock:before {
    content: "\EF81";
  }
  .ms_Icon__SkypeMinus:before {
    content: "\EF82";
  }
  .ms_Icon__SkypeMessage:before {
    content: "\EF83";
  }

  .ms_PersonaCard_actions {
    box-sizing: border-box;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 10px;
    background-color: #ffffff;
    height: 48px;
  }

  .ms_PersonaCard_actions::before {
    content: "";
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    border-top: 1px solid #c8c8c8;
  }

  .ms_PersonaCard_action,
  .ms_PersonaCard_overflow {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    color: #666666;
    outline: transparent;
    position: relative;
    box-sizing: border-box;
  }

  .ms_PersonaCard_action:hover,
  .ms_PersonaCard_overflow:hover {
    color: #212121;
  }

  .ms_PersonaCard_action:active,
  .ms_PersonaCard_overflow:active {
    color: #0078d7;
  }

  .ms_PersonaCard_action::before,
  .ms_PersonaCard_overflow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .ms_PersonaCard_action.is_active,
  .ms_PersonaCard_overflow.is_active {
    color: #0078d7;
  }

  .ms-PersonaCard_action.is_active::after,
  .ms-PersonaCard_overflow.is_active::after {
    box-sizing: border-box;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    position: absolute;
    border-right: 0;
    border-bottom: 0;
    bottom: -4px;
    left: 13px;
  }

  .ms_PersonaCard_overflow {
    font-size: 14px;
    color: #333333;
    float: right;
    margin-top: -1px;
  }

  .ms_PersonaCard_overflow:hover {
    color: #0078d7;
  }

  .ms_PersonaCard_actionDetailBox {
    min-height: 48px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
  }

  .ms_PersonaCard_details {
    display: block;
    width: 100%;
    margin: 0;
    max-height: 300px;
    min-height: 48px;
    color: #666666;
    padding: 9px 20px;
    box-sizing: border-box;
  }

  .ms_PersonaCard_detailLine {
    color: #333333;
    line-height: 30px;
  }

  .ms_PersonaCard_detailLabel {
    color: #666666;
  }

  .ms_Link {
    font-family:
      "Segoe UI WestEuropean",
      "Segoe UI",
      -apple-system,
      BlinkMacSystemFont,
      "Roboto",
      "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    color: #0078d7;
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }

  .ms_Link:hover,
  .ms_Link:focus {
    color: #004578;
  }

  .ms_Link:active {
    color: #0078d7;
  }

  .ms_Persona.ms_Persona__lg .ms_Persona_imageArea,
  .ms_Persona.ms_Persona__lg .ms_Persona_image {
    max-width: 72px;
    height: 72px;
  }
}
